 <!-- This is a sample .env file which helps others while setting up the project in there system as we are hiding the secret key, name, user, and password etc here you should only give key not the values so they can use there credentials -->

<!-- dummy keys -->
SECRET_KEY=
DEBUG=

# Database Configuration
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=